# .clinerules

## プログラム内のコメントとメッセージに関して

- プログラム内のコメントは英語で記載すること
- 画面に出力するメッセージは英語をデフォルトとすること

## Gitのコミットメッセージに関して

- コミットメッセージはConventional Commitsのフォーマット <type>[optional scope]: <description> とします
  - optional scopeは(<scope>)とし、scopeの選択肢はサブコマンドのadd,list等とします。共通の場合はoptional scopeは無くて良いです
- コミットメッセージは1行目は72文字以内とします
- 詳細を書いたほうが良い場合はコミットメッセージは3行目以降に詳細を記述します

## タスク完了の前に

- `go test`でテストの成功を確認すること
- `go build -o duckhist ./cmd`でビルドすること
